<img class="for_info_only half" src="{{MEDIA}}title.png" style="float:left;max-height: 400px">
<p>
    Нікола любить класифікувати всілякі речі.
    Він класифікував низку чисел і внаслідок своїх зусиль,
    проста послідовність чисел стала глибоко вкладеним списком.
    Софія та Стефан насправді не розуміють його організації і потрібно розібратися, що це все означає.
    Їм потрібна твоя допомога, щоб зрозуміти божевільний список Ніколи.
</p>
<p>
    Є список, який містить цілі числа або
    інші вкладені списки, які можуть містити ще більше списків та цілих чисел, які в свою чергу... ідея зрозуміла?
    Ти маєш помістити всі значення в один плоский список.
    Порядок повинен бути таким, яким він був в початковому списку із представленням рядка зліва направо.
</p>

<p>
    Нам потрібно приховати цю програму від Ніколи, зберігаючи її невеликою та малопомітною.
    Через це <strong>твій код повинен бути коротшим за 140 символів (з пробілами)</strong>.
</p>

<p>
    <strong>Вхідні дані:</strong> Вкладений {% if is_js %}масив{% else %}список{% endif %} цілих чисел.
</p>

<p>
    <strong>Вихідні дані:</strong> {% if is_js %}Масив{% else %}Список або інший ітеративний об'єкт (кортеж, генератор, ітератор){% endif %} цілих чисел.
</p>

<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<p class="for_info_only">
    <strong>Як це використовується:</strong>
    <i>Ця концепція корисна для розбору та аналізу файлів зі складними структурами. Також це
    завдання кидає виклик твоїй творчості в написанні короткого коду.</i>
</p>

<p>
    <strong>Передумови:</strong>
    <ul>
        <li>0 &le; |список| &le; 100;</li>
        <li>&forall; x ∈ список : -2<sup>32</sup> < x < 2<sup>32</sup> або x - список;</li>
        <li>глибина вкладеності < 10.</li>
    </ul>
</p>
